:root {
    --text-color: #746D69;
    --inv-text-color: #E8E9EB;
}

body {
    background-color: var(--inv-text-color);
}

.top-bar-container {
    display: grid;
    grid-template-columns: auto 50px 50px 50px;
    gap: 20px;
    padding: 25px;
    grid-template-areas: 
    ". images gmail pfp";
}


.images {
    grid-area: images;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    height: 25px;
    width: 50px;
    transform: translateY(50%);
    background-color: transparent;
    color: var(--text-color);
    text-decoration: none;
}
.images:hover {
    text-decoration: underline;
    cursor: pointer;
}

.gmail {
    grid-area: gmail;
    font-family: 'Source Sans Pro', sans-serif; 
    text-align: center;
    height: 25px;
    width: 50px;
    transform: translateY(50%);
    background-color: transparent;
    color: var(--text-color);
    text-decoration: none;
    }
.gmail:hover {
    text-decoration: underline;
    cursor: pointer;
}

.pfp {
    grid-area: pfp;
    font-family: 'Source Sans Pro', sans-serif;
    height: 50px;
    width: 50px;
    clip-path: circle(25px at 50% 50%);
}
.pfp:hover {
    clip-path: circle(27px at 50% 50%);
}

.google-title-container {
    display: grid;
    grid-template-columns: auto 200px auto;
    gap: 20px;
    padding: 25px;
    grid-template-areas: 
    ". google-title .";
}

.google-title {
    width: 400px;
    height: 100px;
    transform: translateY(50%);
    transform: translateX(-25%);
    grid-area: google-title;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: var(--text-color);
    font-size: 80px;
}


.search {
    position: absolute;
    width: 400px;
    height: 30px;
    left: 50%;
    transform: translateY(50%);
    transform: translateX(-50%);
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 15px;
    background-color: white;
    box-shadow: 1px 1px var(--text-color);
    border: none;
    outline: none;
    text-align: left;
    border-radius: 10px 10px 10px 10px;
}
.search:focus {
    box-shadow: 1px 1px 2px 1px var(--text-color);
}

.menu_button {
    background-color: transparent;
    border: none;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 2%;
    right: 2%;
    clip-path: circle(15px at 50% 50%);
    background-color: transparent;
}
.menu_button:hover {
    background-color: var(--text-color);
}